@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    background-color: #161A24;
    color: white;
}

.container-slider {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.on {
    opacity: 1;
}

#btn-prev, #btn-next {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: white;
    border-radius: 100px;
    color: #161A24;
    font-size: 20px;
}
